

:root {
    /* Fonts */
    --font-main: "Roboto Flex";
    --font-size: 10px;
    --font-size-md: 8px;
    --font-size-sm: 6px;

    /* Colors */
    --color-dark: #080405;
    --color-light: #03A5F4;
    --color-white: rgba(255, 255, 255, 0.8);

    /* Size */
    --container-width: 1280px;
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background: transparent none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/* Base */
html {
    scroll-behavior: smooth;
    color: var(--color-dark);
    font-family: var(--font-main), sans-serif;
    font-size: var(--font-size);
    font-weight: 400;
    font-style: normal;
}

p {
    text-indent: 40px;
    text-align: justify;
}

h1 {
    font-size: 3.5rem;
    color: var(--color-white);
    text-align: center;
    font-weight: 700;
    line-height: 6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

a {
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--color-white);
    }
}

.container {
    padding: 0 10px;
    max-width: 1280px;
    display: inherit;
    margin: 0 auto;
}


.link__account {
    position: relative;
    padding-right: 40px;
}

.link__account::after {
    content: url('../img/Account.svg');
    position: absolute;
    right: 0;
    top: -5px;
}


.link__phone {
    position: relative;
    padding-left: 30px;
}

.link__phone::before {
    content: url('../img/phone.svg');
    position: absolute;
    left: 0;
    top: 5px;
}

.link__location {
    position: relative;
    padding-left: 30px;
}

.link__location::before {
    content: url('../img/location.svg');
    position: absolute;
    left: 0;
    top: 5px;
}

.link__mail {
    position: relative;
    padding-left: 30px;
}

.link__mail::before {
    content: url('../img/mail.svg');
    position: absolute;
    left: 0;
    top: 5px;
}

section {
    padding-top: 70px;
}

.last-item {
    order: 1;
    @media (max-width: 880px) {
        order: 0;
    }
}

@media (max-width: 740px) {
    html {
        font-size: var(--font-size-md);
    }
}

@media (max-width: 400px) {
    html {
        font-size: var(--font-size-sm);
    }
}
