

:root {
    /* Fonts */
    --font-main: "Roboto Flex";
    --font-size: 10px;
    --font-size-md: 8px;
    --font-size-sm: 6px;

    /* Colors */
    --color-dark: #080405;
    --color-light: #03A5F4;
    --color-white: rgba(255, 255, 255, 0.8);

    /* Size */
    --container-width: 1280px;
    --footer-height: 4rem;
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background: transparent none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/* Base */
html {
    scroll-behavior: smooth;
    color: var(--color-dark);
    font-family: var(--font-main), sans-serif;
    font-size: var(--font-size);
    font-weight: 400;
    font-style: normal;
}

p {
    text-indent: 40px;
    text-align: justify;
}

h1 {
    font-size: 3.5rem;
    color: var(--color-white);
    text-align: center;
    font-weight: 700;
    line-height: 6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

h3 {
    padding-top: 10px;
    font-size: 2rem;
    text-align: center;
}

a {
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--color-white);
    }
}

input[type=text], input[type=tel], input[type=email], input[type=date], input[type=time] {
    font-size: 2rem;
    width: 100%;
    border: none;
    padding: 1rem 0;
    color: var(--color-dark);
    border-bottom: solid 1px var(--color-light);
}

label {
    color: var(--color-light);
    font-size: 1.5rem;
}

.container {
    padding: 0 10px;
    max-width: 1280px;
    display: inherit;
    margin: 0 auto;
}

button {
    font-size: 2rem;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--color-light);
    color: var(--color-white);
    transition: color 0.3s ease-in-out;
    margin-top: 3rem;
}

button:hover {
    color: white;
}

button:disabled {
    background-color: lightgray;
}

.link__account {
    display: flex;
    align-items: center;
}

.link__account::after {
    content: url('../img/Account.svg');
    padding-left: 5px;

}

.link__menu {
    display: flex;
    align-items: center;
}

.link__menu::before {
    content: url('../img/Account.svg');
    padding-right: 5px;
}

.link__menu::after {
    content: url('../img/arrow_drop_down.svg');
    padding-left: 5px;
}

.link__menu::before:hover, .link__menu::after:hover {
    filter: brightness(0) saturate(100%) invert(50%) sepia(24%) saturate(6795%) hue-rotate(171deg) brightness(104%) contrast(97%);
}

.link__phone {
    display: flex;
    align-items: center;
}

.link__phone::before {
    content: url('../img/phone.svg');
    padding-right: 5px;
}

.link__location {
    display: flex;
    align-items: center;
}

.link__location::before {
    content: url('../img/location.svg');
    padding-right: 5px;
}

.link__mail {
    display: flex;
    align-items: center;
}

.link__mail::before {
    content: url('../img/mail.svg');
    padding-right: 5px;
}

section {
    padding-top: 70px;
    padding-bottom: 5rem;
}

.last-item {
    order: 1;
    @media (max-width: 880px) {
        order: 0;
    }
}

.form-group {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    border-radius: 3px;
    border: 1px solid var(--color-light);
    position: relative;
    padding: 15px 15px 15px 15px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.form-group-header {
    font-size: 2rem;
    position: absolute;
    top: -12px;
    left: 12px;
    background-color: white;
    padding: 0 5px 0 5px;
}

.visible {
    display: contents;
}

.hidden {
    display: none;
}

@media (max-width: 740px) {
    html {
        font-size: var(--font-size-md);
    }
}

@media (max-width: 400px) {
    html {
        font-size: var(--font-size-sm);
    }
}
